<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>レシピ修正</title>
    <th:block th:replace="fragments/head :: links">
    </th:block>
    <link
            rel="stylesheet"
            href="/static/css/recipe.css"
            th:href="@{/css/recipe.css}"
    />
</head>
<body>
<nav th:replace="fragments/nav :: front-nav('recipe')"></nav>
<main class="custom container">
    <!-- 모달 start -->
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">必須項目入力</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">確認</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="alertBtn" style="display: none;" data-bs-toggle="modal" data-bs-target="#alertModal">レシピ修正</button>
    <!-- 모달 end -->
    <p class="fw-bold fs-2 text-start">レシピ 修正</p>
    <form action="/recipe/update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="user_id" th:value="${recipeDTO.user_id}">
        <input type="hidden" name="rcp_seq" th:value="${recipeDTO.rcp_seq}">
        <input type="hidden" name="filename" th:value="${recipeDTO.filename}">
        <input type="hidden" name="filepath" th:value="${recipeDTO.filepath}">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-4 d-grid gap-2 d-md-block img_up">
                <label for="rcp_file" style="cursor:pointer;">
                    <img th:if="${not #strings.isEmpty(recipeDTO.filename)}" th:src="@{${recipeDTO.filepath}+${recipeDTO.filename}}" width="100%" height="230px" alt="main image"/>
                    <img th:if="${#strings.isEmpty(recipeDTO.filename)}" src="/media/images/rcp_mainimg.png" width="100%" height="230px" alt="main image"/>
                </label>
                <input type="file" id="rcp_file" th:value="${recipeDTO.upload}" name="upload" style="display: none;">
                <button type="button" class="btn btn-dark" style="width: 100%;">
                    <label for="rcp_file" style="width: 100%; height:100%; cursor:pointer;">代表イメージ添付</label>
                </button>
            </div>
            <div class="col-8">
                <p><input type="text" class="form-control" id="rcp_name" name="rcp_name" width="90%" placeholder="レシピタイトル" th:value="${recipeDTO.rcp_name}"></p>
                <select class="form-select" name="time" id="rcp_time">
                    <option value="">時間</option>
                    <option th:value="'10分以内'" th:attr="selected = ${recipeDTO.time == '10分以内' ? 'true' : 'false'}">10分以内</option>
                    <option th:value="'20分以内'" th:attr="selected = ${recipeDTO.time == '20分以内' ? 'true' : 'false'}">20分以内</option>
                    <option th:value="'30分以内'" th:attr="selected = ${recipeDTO.time == '30分以内' ? 'true' : 'false'}">30分以内</option>
                    <option th:value="'1時間以内'" th:attr="selected = ${recipeDTO.time == '1時間以内' ? 'true' : 'false'}">1時間以内</option>
                    <option th:value="'2時間以内'" th:attr="selected = ${recipeDTO.time == '2時間以内' ? 'true' : 'false'}">2時間以内</option>
                    <option th:value="'2時間以上'" th:attr="selected = ${recipeDTO.time == '2時間以上' ? 'true' : 'false'}">2時間以上</option>
                </select>
                <select class="form-select" name="difficulty" id="difficulty">
                    <option value="">難易度</option>
                    <option th:value="'易'" th:attr="selected = ${recipeDTO.difficulty == '易' ? 'true' : 'false'}">易</option>
                    <option th:value="'普通'" th:attr="selected = ${recipeDTO.difficulty == '普通' ? 'true' : 'false'}">普通</option>
                    <option th:value="'難'" th:attr="selected = ${recipeDTO.difficulty == '難' ? 'true' : 'false'}">難</option>
                </select>
                <select class="form-select" name="amount" id="amount">
                    <option value="">量</option>
                    <option th:value="'1人分'" th:attr="selected = ${recipeDTO.amount == '1人分' ? 'true' : 'false'}">1人分</option>
                    <option th:value="'2人分'" th:attr="selected = ${recipeDTO.amount == '2人分' ? 'true' : 'false'}">2人分</option>
                    <option th:value="'3人分'" th:attr="selected = ${recipeDTO.amount == '3人分' ? 'true' : 'false'}">3人分</option>
                    <option th:value="'4人分'" th:attr="selected = ${recipeDTO.amount == '4人分' ? 'true' : 'false'}">4人分</option>
                    <option th:value="'5人分以上'" th:attr="selected = ${recipeDTO.amount == '5人分以上' ? 'true' : 'false'}">5人分以上</option>
                </select>
                <textarea class="form-control" name="summary" th:value="${recipeDTO.summary}" th:text="${recipeDTO.summary}" placeholder="レシピ를 간단히 소개해 주세요." ></textarea>
            </div>
        </div>
        <p>*カテゴリー選択</p>
        <div class="cate_box rounded">
            <input type="hidden" name="cateArr" id="cateArr" value="">
            <p>
                <span>カテゴリー別</span>
                <span th:each="cate1 : ${cateList}" th:if="${cate1.cate_cate} == 1">
                    &nbsp&nbsp
                    <a href="#" th:value="${cate1.cate_seq}" th:attr="style = ${cate1.rcp_chk == true ? 'color: black; font-weight: bold;' : 'color: #fff;'}">
                        <span th:text="${cate1.cate_name}" >カテゴリー別</span>
                    </a>
                </span>
            </p>
            <p>
                <span>材料</span>
                <span th:each="cate2 : ${cateList}" th:if="${cate2.cate_cate} == 2">
                    &nbsp&nbsp
                    <a href="#" th:value="${cate2.cate_seq}" th:attr="style = ${cate2.rcp_chk == true ? 'color: black; font-weight: bold;' : 'color: #fff;'}">
                        <span th:text="${cate2.cate_name}">材料</span>
                    </a>
                </span>
            </p>
            <p>
                <span>状況</span>
                <span th:each="cate3 : ${cateList}" th:if="${cate3.cate_cate} == 3">
                    &nbsp&nbsp
                    <a href="#" th:value="${cate3.cate_seq}" th:attr="style = ${cate3.rcp_chk == true ? 'color: black; font-weight: bold;' : 'color: #fff;'}">
                        <span th:text="${cate3.cate_name}">状況</span>
                    </a>
                </span>
            </p>
        </div>
        <hr/>
        <p class="fw-bold fs-2 text-start">材料</p>
        <textarea name="rcp_parts_dtls" placeholder="豚ひき肉　300ｇ、にんじん　30g、玉ネギ　100g" th:text="${recipeDTO.rcp_parts_dtls}" th:value="${recipeDTO.rcp_parts_dtls}"></textarea>
        <hr/>
        <p class="fw-bold fs-2 text-start">作り方</p>
        <div class="manual_container">
            <div class="rcp_manual" th:each="manual : ${manualList}">
                <p class="fw-bold fs-4 text-start manual_step" th:text="${manual.manual_no}"></p>
                <textarea name="manual_txt" th:value="${manual.manual_txt}" th:text="${manual.manual_txt}"></textarea>
                <p class="d-flex justify-content-between">
                    <input type="file" name="upload_manual">
                    <a class="btn btn-danger removeManual">削除</a>
                </p>
            </div>
        </div>
        <button type="button" id="addManual" class="btn btn-secondary" style="width: 100%; margin-bottom: 15px;">追加</button>
        <hr/>
        <p class="fw-bold fs-2 text-start">ハッシュタグ</p>
        <p>*ハッシュタグ入力</p>
        <textarea name="hash_tag" placeholder="一人暮らし、ダイエット..." th:text="${recipeDTO.hash_tag}" th:value="${recipeDTO.hash_tag}"></textarea>
        <hr/>
        <p class="d-flex justify-content-between">
            <a th:href="@{/recipe/list}" class="btn btn-danger">
                &nbsp&nbsp取り消し&nbsp&nbsp
            </a>
            <button class="btn btn-primary" id="submitBtn">&nbsp&nbsp修正&nbsp&nbsp</button>
        </p>
    </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/rcpUpdate.js" th:src="@{/js/rcpUpdate.js}"></script>
</body>
</html>