<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>レシピ本文</title>
    <th:block th:replace="fragments/head :: links">
    </th:block>
    <link
            rel="stylesheet"
            href="/static/css/recipe.css"
            th:href="@{/css/recipe.css}"
    />
</head>
<body>
<nav th:replace="fragments/nav :: front-nav('recipe')"></nav>
<main class="custom container">
    <div class="hiddenItems">
        <input type="hidden" th:value="${user_id}" id="user_id">
        <input type="hidden" th:value="${pagenation.startPageNum}" id="startPageNum">
        <input type="hidden" th:value="${pagenation.endPageNum}" id="endPageNum">
        <input type="hidden" th:value="${pagenation.blockPageCnt}" id="blockPageCnt">
        <input type="hidden" th:value="${pagenation.totalPageCnt}" id="totalPageCnt">
        <input type="hidden" th:value="${pagenation.count}" id="count">
        <input type="hidden" th:value="${scrapOrNot}" id="scrapOrNot">
        <input type="hidden" th:value="${reportOrNot}" id="reportOrNot">
        <input type="hidden" th:value="${rcp.scrap}" id="scraps">
    </div>
    <input type="hidden" name="rcp_seq" th:value="${rcp.rcp_seq}" id="rcp_seq">
    <input type="hidden" th:value="${rcp_sort}">
    <input type="hidden" name="cate_seq" th:value="${cate_seq}">
    <input type="hidden" name="searchKey" th:value="${searchKey}">
    <!-- //Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">レシピ削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="${rcp.rcp_name}+' レシピを削除しますか?'"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取り消し</button>
                    <a th:href="@{/recipe/delete(rcp_seq=${rcp.rcp_seq}, rcp_sort=${rcp_sort}, page=${page})}" class="btn btn-danger">削除</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">レシピ報告</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="'レシピ報告는 취소할 수 없습니다. [' + ${rcp.rcp_name} + '] レシピ를報告하시겠습니까?'"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">取り消し</button>
                    <a href="#" id="reportBtn" data-bs-dismiss="modal" class="btn btn-danger">報告</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shareLabel">レシピのリンクを共有</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="'レシピのリンクがコピーされました。'"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">確認</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="needLoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="needLoginLabel">ユーザー登録が必要です</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="'ユーザー登録が必要です'"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">確認</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="needLoginBtn" style="display: none;" data-bs-toggle="modal" data-bs-target="#needLoginModal">ログイン 안내</button>
    <!-- Modal// -->
    <span class="fw-bold fs-2 text-start" th:text="${rcp.rcp_name}"></span>
    <span th:if="${user_id} == ${rcp.user_id}" class="upsideBtn text-end">
        <a th:href="@{/recipe/update(rcp_seq=${rcp_seq})}" class="btn btn-primary">修正</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">削除</button>
    </span>
    <hr/>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-6 d-grid gap-2 d-md-block">
            <img th:if="${not #strings.isEmpty(rcp.filename)}" th:src="@{${rcp.filepath}+${rcp.filename}}" width="100%" height="330px" class="rounded float" />
            <img th:if="${#strings.isEmpty(rcp.filename)}" src="/media/images/rcp_mainimg.png" width="100%" height="330px" class="rounded float" />
        </div>
        <div class="col-6">
            <p class="d-flex justify-content-between">
                <span th:text="'作成者 | '+${rcp.user_id}" class="left"></span>
                <span th:text="${rcp.rcp_date} + ' 作成'" class="right" style="color: gray;"></span>
            </p>
            <p class="d-flex justify-content-between">
                <span th:text="'時間 | '+${rcp.time}" class="left">時間</span>
                <span th:text="'難易度 | '+${rcp.difficulty}">難易度</span>
                <span th:text="'量 | '+${rcp.amount}" class="right">量</span>
            </p>
            <p th:text="'カテゴリー | '" style="display: inline;">
                <p th:each="cates, i: ${cate_list}" style="display: inline;">
                    <span th:if="${i.index} != 0">, </span>
                <a class="viewBtn" th:href="@{/recipe/list(cate_seq=${cates.cate_seq})}" th:text="${cates.cate_name}"></a>
                </p>
            </p>
            <p th:text="'紹介 | '+${rcp.summary}"></p>
            <br/>
            <p class="d-flex justify-content-between">
                <span th:text="'閲覧数 '+${rcp.rcp_viewcnt}" class="left">閲覧数</span>
                <span id="scrapBtn" class="viewBtn">
                    <span>♥ 保存 </span>
                    <span th:text="${rcp.scrap}" id="scraps2"></span>
                </span>
                <span id="shareBtn" class="viewBtn" data-bs-toggle="modal" data-bs-target="#shareModal">
                <span th:text="'★ 共有'">共有</span>
                </span>
                <span th:if="${reportOrNot} == 0" class="viewBtn" data-bs-toggle="modal" data-bs-target="#reportModal">
                <span th:text="'報告'" id="report1" class="right" style="color: red;">報告</span></span>
            </p>
        </div>
    </div>
    <hr/>
<!--    <h1 th:text="${rcp.rcp_seq}+'번 レシピ 본문입니다. 이부분 나중에 削除'"></h1>-->
    <h2 th:text="'材料'"></h2>
    <p th:text="${rcp.rcp_parts_dtls}"></p>
    <hr/>
    <h2 th:text="'作り方'"></h2>
    <p th:each="manual: ${manualList}" class="manual_step">
        <span class="h3" th:text="${manual.manual_no}"></span>
        <img th:if="${not #strings.isEmpty(manual.filename)}" th:src="@{${manual.filepath}+${manual.filename}}" alt="sub image"/>
        <span th:text="${manual.manual_txt}" style="display: block;"></span>
        <br/>
    </p>
    <hr/>
    <h2 th:text="'#'"></h2>
    <p th:text="${rcp.hash_tag}"></p>
    <div class="d-grid d-md-block gap-3 viewBtn" style="text-align: center;">
        <a th:if="${searchKey != null}" th:href="@{/recipe/search(rcp_sort=${rcp_sort}, cate_seq=${cate_seq}, page=${page}, searchKey=${searchKey})}" class="btn btn-secondary me-md-5">
            レシピ検索リストに戻る
        </a>
        <a th:if="${searchKey == null}" th:href="@{/recipe/list(rcp_sort=${rcp_sort}, cate_seq=${cate_seq}, page=${page})}" class="btn btn-secondary me-md-5">
            レシピリストに戻る
        </a>
        <a th:href="@{/community/form}" class="btn btn-dark">
            このレシピのレビュー作成
        </a>
    </div>
    <hr/>
    <h2 id="coCount" th:text="'コメント '+${pagenation.count}"></h2>
    <form>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-10">
                <textarea class="form-control" name="comment_txt" id="comment_txt" style="height: 100%;" placeholder="コメントを入力してください"></textarea>
            </div>
            <div class="col-2">
                <span class="btn btn-warning" id="coWriteBtn" style="width: 100%; height: 100%; color: #fff; line-height: 70px;">コメント入力</span>
            </div>
        </div>
    </form>
    <div class="comment_area"></div>
    <nav aria-label="Page navigation example" style="margin-top: 30px">
        <ul class="pagination page-area justify-content-center">
            <!-- 첫 로딩 후 페이지 출력시 필요 -->
            <li class="page-item">
                <a th:if="${pagenation.startPageNum} == 1" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <th:block th:each="pages : ${#numbers.sequence(pagenation.startPageNum, pagenation.endPageNum)}">
                <li class="page-item">
                    <a th:text="${pages}" value="${pages}" class="page-link page-num"></a>
                </li>
            </th:block>
            <li class="page-item">
                <a class="page-link" aria-label="Next">
                    <span th:text="'&raquo;'" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </nav>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/rcpView.js" th:src="@{/js/rcpView.js}"></script>
</body>
</html>